<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stepcounter.test">

    <application>
        <!-- 为测试的 Activity 添加 android:exported 属性 -->
        <activity
            android:name="com.example.stepcounter.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
